/* Logo */
#logo img {
  width: 150px;
  height: 100px;
  margin-left: 40px;
  margin-top: 13px;
}

/* Barra de búsqueda */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

#Busqueda {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  width: 500px;
  height: 40px;
}

#Busqueda input {
  flex-grow: 2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: auto;
  height: 100%;
}

#Busqueda button {
  background-color: #800000;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin-left: 5px;
  height: 100%;
  margin-bottom: 10px;
}

#Busqueda button img {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #ffffff;
  z-index: 100;
  margin-top: -10px;
}

.nav-menu ul {
  display: flex;
  margin-top: 10px;
}

.nav-menu ul li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: #800000;
  padding-bottom: 15px;
  margin: 0 25px;
}

.link:hover,
.active {
  border-bottom: 2px solid #800000;
}

.nav-button .btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(193, 73, 73, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  color: #800000;
}

.btn:hover {
  background: rgba(193, 73, 73, 0.4);
}

.btn.white-btn {
  margin-left: 15px;
  font-size: 14px;
  margin-top: 20px;
}

.nav-menu-btn {
  display: none;
}

@media only screen and (max-width: 786px) {
  .nav-button {
    display: none;
  }

  .nav-menu.responsive {
    top: 100px;
  }

  .nav-menu {
    position: absolute;
    top: -800px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 90vh;
    backdrop-filter: blur(20px);
    transition: 0.3s;
  }

  .nav-menu ul {
    flex-direction: column;
    text-align: center;
  }

  .nav-menu-btn {
    display: block;
  }

  .nav-menu-btn i {
    font-size: 25px;
    color: #800000;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }

  .nav-menu-btn i:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}

@media only screen and (max-width: 540px) {
  .wrapper {
    min-height: 100vh;
  }

  .form-box {
    width: 100%;
    padding: 0 20px;
  }

  .register-container,
  .login-container {
    width: 100%;
    padding: 0 20px;
  }

  .register-container .two-forms {
    flex-direction: column;
    gap: 0;
  }
}

#carritoBtn {
  margin-left: 15px;
  width: 60px;
  height: 55px;
  margin-right: 35px;
  margin-top: 20px;
}

#carritoBtn img {
  height: 40px;
  width: 40px;
}

.custom-footer {
  background-color: #f2f2f2;
  color: #800000;
  padding: 20px;
  text-align: center;
}

.custom-titles-container {
  display: flex;
  justify-content: space-around;
}

.custom-title {
  width: 30%;
  margin-top: -140px;
}

.custom-title1 {
  width: 10%;
  margin-top: -140px;
  margin-right: 100px;
}

.list-group {
  padding-left: 0px;
  list-style: none;
}

.list-group-item {
  border: none;
  background-color: transparent;
  border: none;
}

.list-group-item1 {
  border: none;
  background-color: transparent;
  border: none;
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}

.list-group-item2 {
  border: none;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.list-group-item2 img {
  margin-right: 5px;
}

.list-group-item2 span {
  flex-grow: 1;
  margin-right: 5px;
  white-space: nowrap;
}

.custom-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.custom-logo {
  width: 150px;
  height: 100px;
  display: block;
}

.custom-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.custom-icon1 {
  width: 40px;
  height: 30px;
  margin: 0 5px;
}

.custom-icon3 {
  width: 25px;
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.custom-icon2 {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: -3px;
}

.list-group-item a {
  color: #800000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #ffffff;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}

main {
  padding: 20px;
}

.pedido {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.pedido-info {
  flex: 1;
}

.pedido-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #800000;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #800000;
}